* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.password-container {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container .esq-form {
    width: 400px;
    background: rgb(231, 231, 228);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(156, 140, 140);
}

.password-container .esq-form h1 {
    text-align: center;
    font-size: 18px;
    color: chocolate;
    margin-top: 10px;
}

.password-container .esq-form p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.password-container .esq-form form {
    margin-top: 10px;
    width: 100%;
}

.password-container .esq-form form .input-box {
    display: flex;
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.password-container .esq-form form .input-box .icon {
    font-size: 12px;
    margin-right: 10px;
}

.password-container .esq-form form .input-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 12px;
}

.password-container .esq-form form button {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.password-container .esq-form .btn-cancelar {
    font-size: 12px;
    font-weight: bold;
    color: brown;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background: none;
    width: 50%;
    margin-left: 25%;
}