* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.content {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(161, 157, 157, 0.3);
}

.content .login-area {
    width: 450px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(161, 157, 157, 0.7);
}

.content .login-area header {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.content .login-area .paragraph {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 30px;
    color: rgb(199, 196, 192);
}

.content .login-area form {
    width: 100%;
}

.content .login-area form .field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
}

.content .login-area form .f1 {
    margin-bottom: 20px;
}

.content .login-area form .f2 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.content .login-area form .f2 a {
    color: black;
}

.content .login-area form .field input {
    height: 100%;
    width: 100%;
    background: rgba(161, 157, 157, 0.3);
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 20px;
}

.content .login-area form .field input[type="submit"] {
    background: #3298db;
    border: none;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
}